.tabs-ul {
    width: 100%;
    /*padding: 5px 0;*/
    height: 30px;
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;*/
}

.tabs-ul li {
    float: left;
    width: 20%;
    /*max-width: 6.5rem;*/
    /*padding: 3px 0;*/
    text-align: center;
    line-height: 28px;
    font-weight: bold;
}


/*.tabs-ul .active {
    background-color: #80bd01;
    color: #fff;
    border-radius: 3px;
}*/

.line {
    background-color: #80bd01;
    height: 2px;
    width: 20%;
    margin-left: 0;
    transition: all .7s;
}