
.avatar {
	height: 35px;
	width: 35px;
	border-radius: 100%;
}

.reply {
	background-color: #fff;
	margin-top: 10px;
}

.reply-avatar {
	width: 60px;
	text-align: center;
	float: right;
}

.reply-body {
	border-bottom: 1px solid #abc;
	margin-right: 60px;
	padding: 5px 0 10px 5px;
}

.reply-author {
	font-size: 12px;
}

.reply-title {
	margin-bottom: 4px;

}

.name {
	display: inline-block;
    width: 50px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.reply-tips {
    padding-left: 10px;
}

.reply-title>span {
	vertical-align: middle;
}

.reply-tips {
	height: 20px;
	line-height: 20px;
}

.reply-tips>* {
	vertical-align: middle;
}