/* You can add global styles to this file, and also import other style files */

html {
    /*font-size: calc(100vw/3.75);*/
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-family: "Microsoft YaHei",sans-serif;
}


/* CSS Reset */

p,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


/* CSS Reset End */

.text-green {
    color: #80bd01;
}

.bg-green {
    background-color: #80bd01;
}

.text-white {
    color: #fff;
}

.text-gray {
    color: #777;
}

.bg-gray {
    background-color: #444444;
}

.ul-across {
    height: auto;
}

.ul-across li {
    float: left;
}

.float-right {
    float: right;
}

.mg_l10 {
    margin-left: 10px;
}

.mg_t10 {
    margin-top: 10px;
}